{% extends 'base.html' %}
{% load  widget_tweaks %}
{% block title %} Create Password {% endblock title %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Create New Password</h4>
                <p class="card-category">Strong Password, Strong Human </p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="form-group mt-5">
                                <label for="{{form.length.id_for_label}}" class="text-warning">{{form.length.label}}</label>
                                {% render_field form.length class+="selectpicker form-control form-select my-3" data-style="btn btn-danger"%}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="form-check">
                                <label class="form-check-label mx-3">
                                    {% render_field form.has_letters checked="checked" class+="form-check-input"%}
                                    <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                                    <p class="text-warning">{{form.has_letters.label}}</p>
                                </label>

                                <label class="form-check-label mx-3">
                                    {% render_field form.has_uppercase class+="form-check-input" %}
                                    <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                                    <p class="text-warning">{{form.has_uppercase.label}}</p>
                                </label>

                                <label class="form-check-label mx-3">
                                    {% render_field form.has_punctuation class+="form-check-input" %}
                                    <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                                    <p class="text-warning">{{form.has_punctuation.label}}</p>
                                </label>

                                <label class="form-check-label mx-3">
                                    {% render_field form.has_numbers class+="form-check-input" %}
                                    <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                                    <p class="text-warning">{{form.has_numbers.label}}</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right">Generate</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% if password %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Here you go</h4>
                <p class="card-category">Your new password:</p>
            </div>

            <div class="card-body">
                <div class="input-group mb-3">
                    <input class="form-control mb-2" id="password" type="text" value="{{password}}"
                           onkeyup="isGood(this.value)" style="font-size : 32px; height : 5rem;">
                    <div class="input-group-append">
                        <form method="POST" id="passForm" action="{% url 'add' %}">
                            {% csrf_token %}
                            <button type="submit" name="passwd" value="{{ password }}" form="passForm"
                                    class="btn bg-transparent btn-outline-warning" style="height : 80px;"><span
                                    class="material-icons"
                                    style="font-size:35px;">add_circle</span></button>
                        </form>
                        <button class="btn bg-transparent btn-outline-danger" id="copyBtn"
                                data-clipboard-target="createdPassword"
                                data-container="body" data-toggle="popover" data-placement="top" data-content="Copied">
                            <i class="fa fa-copy" style="font-size:30px;"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<small class="help-block" id="password-text"></small>

<script>
  document.getElementById("copyBtn")
    .onclick = function () {
      let text = document.getElementById("password").value;
      navigator.clipboard.writeText(text);
    }



</script>
{% endif %}
{% endblock content %}
